.blog-slider-block {
  text-align: center;

  .title-slider-block {
    margin-top: 80px;
    padding-bottom: 30px;
    color: #1a1a1a;
    font-family: "Nunito Sans", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }

  .blog-posts-block {
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    .blog-post-in-block {
      padding: 0 20px;
      transform: translateX(-30px);
      margin: 0;
      float: left;
      color: #FFF;
      text-align: center;
      @include respond-to($large-desktop){
        width: 263px;
      }
      @include respond-to($tablet-landscape){
        width: 30%;
      }
      @include respond-to($tablet-portrait){
        width: 45%;
      }
      @include respond-to($phone){
        width: 90%;
      }
      height: 530px;

      .image-post-block {
        margin: 0;
        background: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 287px;
      }
      .title-post-block {
        font-family: "Nunito Sans", serif;
        color: #1a1a1a;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin: 30px 15px;
        width: 90%;
      }
      .content-post-block {
        color: #484848;
        font-family: Montserrat, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 15px;
        width: 90%;
      }
    }
  }

  button {
    margin-top: 40px;
    border-radius: 50px;

    a {
      color: #ffffff;
      font-family: "Nunito Sans", serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}