.contact-block {
  width: 100%;

  .title-contact-block {
    text-align: center;
    color: #1a1a1a;
    font-family: "Nunito Sans", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
  }

  .contact-element-block {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 1200px;

    @include respond-to($more-tablet-portrait) {
      display: flex;
      flex-wrap: wrap;

      .contact-form-block {
        width: 45%;
        margin-left: 2%;

        form {
          :nth-child(2) {
            label {
              span {
                input {
                  border: none;
                  border-bottom: 2px solid #a1a1a1;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }

          }
          :nth-child(3) {
            label {
              span {
                input {
                  border: none;
                  border-bottom: 2px solid #a1a1a1;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
          :nth-child(4) {
            label {
              span {
                textarea {
                  border: 2px solid #a1a1a1;
                  height: 186px;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
          :nth-child(5) {
            input {
              width: 165px;
              height: 64px;
              border-radius: 50px;
              background-color: #27ae60;
              border: none;
              color: #ffffff;
              font-family: "Nunito Sans", serif;
              font-size: 24px;
              font-weight: 700;
              line-height: 30px;
            }
          }
        }
      }

      .contact-maps-block {
        width: 45%;

        .contact-info-block {
          margin-top: 20px;
          display: flex;

          .img-contact {
            height: 30px;
            margin-bottom: 20px;
          }

          .address-contact-block {
            width: 32%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .email-contact-block {
            width: 32%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .phone-contact-block {
            width: 32%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }

    @include respond-to($tablet-portrait-menu) {
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;

      .contact-form-block {
        margin: 5%;
        margin-top: 0;
        form {
          :nth-child(2) {
            label {
              width: 100%;
              span {
                input {
                  width: 95%;
                  border: none;
                  border-bottom: 2px solid #a1a1a1;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }

          }
          :nth-child(3) {
            label {
              width: 100%;
              span {
                input {
                  width: 95%;
                  border: none;
                  border-bottom: 2px solid #a1a1a1;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
          :nth-child(4) {
            label {
              width: 100%;
              span {
                textarea {
                  width: 95%;
                  border: 2px solid #a1a1a1;
                  height: 186px;
                  color: #1a1a1a;
                  font-family: "Nunito Sans", serif;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
          :nth-child(5) {
            input {
              width: 165px;
              height: 64px;
              border-radius: 50px;
              background-color: #27ae60;
              border: none;
              color: #ffffff;
              font-family: "Nunito Sans", serif;
              font-size: 24px;
              font-weight: 700;
              line-height: 30px;
            }
          }
        }
      }

      .contact-maps-block {
        width: 90%;
        margin: 5%;
        margin-bottom: 0;

        .contact-info-block {
          margin-top: 20px;

          .img-contact {
            height: 30px;
            margin-bottom: 20px;
          }

          .address-contact-block {
            width: 95%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .email-contact-block {
            width: 95%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .phone-contact-block {
            width: 95%;
            p {
              color: #484848;
              font-family: Montserrat, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}