.slider {

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul {
    width: 9999px;

    li {
      list-style-type: none;
      float: left;
      width: 100vw;
      position: relative;
      @include respond-to($tablet-portrait-menu){
        height: 500px;
      }
      @include respond-to($more-tablet-portrait){
        height: 700px;
      }

      .item {
        background-size: auto 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .night-slide {
        background-color: black;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .content-clider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .block-content-slider {

          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);

          h1, h3, .button-slider {
            font-family: "Nunito Sans", serif;
            position: relative;
            color: #ffffff;
            top: 30%;
            //width: 100%;
            text-align: center;
          }
          h1 {
            text-align: center;
            @include respond-to($tablet-portrait-menu){
              font-size: 36px;
            }
            @include respond-to($more-tablet-portrait){
              font-size: 72px;
            }
          }
          h3 {
            width: 100%;
            text-align: center;
            @include respond-to($tablet-portrait-menu){
              font-size: 14px;
            }
            @include respond-to($more-tablet-portrait){
              font-size: 24px;
            }
          }
          .button {
            text-align: center;

            .btn-success{
              border-radius: 35%;
              background-color: #27ae60;
              border-color: #27ae60;
              padding: 20px;

              @include respond-to($tablet-portrait-menu){
                font-size: 24px;
              }
              @include respond-to($more-tablet-portrait){
                font-size: 18px;
              }

              a {
                font-weight: 700;
                text-decoration: none;
                color: #ffffff;
              }
            }
          }
        }
      }

    }
  }

  .nav {
    position: relative;
    bottom: 20px;
    display: block !important;
    @include respond-to($more-tablet-portrait){
      left: 46%;
    }

    @include respond-to($tablet-portrait){
      left: 43%;
    }

    @include respond-to($phone){
      left: 37%;
    }

    span {
      opacity: 0.9;
      background: none;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      border: 2px solid #ffffff;
      cursor: pointer;
      overflow: hidden;
      display: block !important;
      float: left;
      box-shadow: 0 1px 2px #000;

      &.on {
        border-color: #2e9419;
        background: #2e9419;
      }
    }
  }
}