.slider {

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul {
    width: 9999px;

    li {
      list-style-type: none;
      float: left;
      width: 100vw;
      height: 700px;
      position: relative;

      .item{
        background-size: auto 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .night-slide{
        background-color: black;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .content-clider{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .block-content-slider {
          position: absolute;
          width: 100%;
          top:50%;
          transform: translateY(-50%);

          h1, h3, .button-slider {
            font-family: "Nunito Sans", serif;
            position: relative;
            color: #ffffff;
            top: 30%;
            //width: 100%;
            text-align: center;
          }
          h1 {
            font-size: 72px;
            text-align: center;
          }
          h3 {
            width: 100%;
            font-size: 24px;
            text-align: center;
          }
          .button-slider {
            display: inline;
            margin: 26px auto;
            //display: block;
            border-radius: 30%;
            background-color: #27ae60;
            padding: 20px;
            font-size: 24px;
            text-align: center;
            left: 0;

            a {
              font-weight: 700;
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }

    }
  }

  .nav {
    position: relative;
    left: 47%;
    bottom: 20px;

    span {
      opacity: 0.9;
      background: #fff;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      display: block;
      float: left;
      box-shadow: 0 1px 2px #000;

      &.on {
        background: #2e9419;
      }
    }
  }
}