@include respond-to($more-tablet-portrait) {
  .subscribe-block {
    margin: 40px 0;
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .form {
      justify-content: center;
      display: flex;
      transform: translateY(150%);

      * {
        padding-right: 40px;
        @include respond-to($tablet-landscape){
          font-size: 24px!important;
        }
      }

      .label {
        color: #ffffff;
        font-family: "Nunito Sans", serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
      }

      input {
        outline:none;
        font-size: 32px;
        margin-top: 0;
        padding-right: 0;
        border: none;
        border-bottom: 2px solid #737274;
        background: none;
        width: 280px;
      }

      button {
        border-radius: 50px;
        width: 200px;
        padding: 0;
        color: #ffffff;
        font-family: "Nunito Sans", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
      }
    }
    .alert{
      transform: translateY(150%);
    }
    .none{
      display: none;
    }
  }
}

@include respond-to($tablet-portrait-menu) {
  .subscribe-block {
    margin: 40px 0;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .form {
      text-align: center;

      * {
        text-align: center;
        width: 100%;
      }

      .label {
        padding-top: 60px;
        color: #ffffff;
        font-family: "Nunito Sans", serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
      }

      input {
        color: #ffffff;
        font-family: "Nunito Sans", serif;
        font-size: 32px;
        padding-top: 40px;
        border: none;
        border-bottom: 2px solid #737274;
        background: none;
        width: 80%;
      }

      button {
        margin: 20px 0 20px 0;
        border-radius: 50px;
        margin-top: 35px;
        width: 200px;
        color: #ffffff;
        font-family: "Nunito Sans", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
      }
    }
    .none{
      display: none;
    }
  }
}


//
//@include respond-to($tablet-portrait-menu) {
//  .subscribe-block {
//    width: 100%;
//    height: 400px;
//    background-attachment: fixed;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//  }
//}