@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}
body{
  margin-top: -30px;
}

.container {
  max-width: 99999px;
  padding: 0;
  margin: 0;
}

.content{
  margin-top: -30px;
}

.ui-btn-text{
  display: none;
}

.ui-loader{
  display: none;
}