/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

$phone: "(max-width: 480px)";
$tablet-portrait: "(min-width: 480px) and (max-width: 800px)";
$tablet-portrait-menu: "(max-width: 800px)";
$tablet-landscape: "(min-width: 800px) and (max-width: 1201px)";
$large-desktop: "(min-width: 1202px)";